body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  width: 100vw;
  height: auto;
  background-color: tan;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  grid-auto-rows: 560px;
  grid-gap: 20px;
  justify-content: center;
}
section {
  background-color: blue;
  display: grid;
  grid-template-rows: 500px 60px;
}

.product-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-frame {
  width: 400px;
  position: absolute;
}
.product-image {
  display: block;
  max-height: 85%;
  max-width: 85%;
  width: auto;
  height: auto;
}
.product-information {
  background-color: red;
  padding: 5px 15px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-title p {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

.product-price p {
  padding-left: 0;
  margin: 0;
  font-size: 0.8rem;
}

/* Cursor Stylesheet */

* {
	cursor: none;
}

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -50%;
  left: -50%;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  background-color: white;
  backface-visibility: hidden;
  transition: transform 0.2s ease-out;
  mix-blend-mode: difference;
  z-index: 1000;
  pointer-events: none;
}

.cursor.is-moving {
  transform: scale(0.5);
}

.content_cursor {
  position: relative;
  height: 100%;
}
