<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Lefthand La Product page</title>
  </head>
  <body>
    <section class="product-page-card">
      <section class="product-page-image-section">
        <img
          class="product-page-overlay-frame"
          src="../assets/Insta-ratio-frame.png"
          alt=""
        />
        <div class="product-slideshow">
          {% for image in product.images %}
          <div>
            <img
              class="product__photo--variant lazyload"
              src="{{ image | img_url: 'master' }}"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
              data-aspectratio="{{ image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ image.alt | escape }}"
            />
          </div>
          {% endfor %}
          <div class="product-slideshow-nav">
            {% for image in product.images %}
            <div>
              <img
                class="product__photo--variant lazyload"
                src="{{ image | img_url: 'master' }}"
                data-src="{{ img_url }}"
                data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                data-aspectratio="{{ image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ image.alt | escape }}"
              />
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <section class="product-page-text-section">
        <div class="product-page-description">
	<h1 class="h2" itemprop="name">{{ product.title }}</h1>
          <p>
            Sparkles so pretty the picture doesn’t do it justice<br />
            Hand dyed and designed in the city of angels <br />
            Size L/XL
          </p>
        </div>
        <div class="product-page-cart">
          <p class="price">$299</p>
          {% comment %}
          	Select element hidden when JS initializes. Safeguard for JS-disabled.
          {% endcomment %}
          <select name="id" id="ProductSelect-{{ section.id }}">
            {% for variant in product.variants %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_with_currency }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>
            {% endfor %}
          </select> 
	  {%- capture 'form_id' -%}AddToCartForm-{{ section.id }}{%- endcapture -%}
          {%- capture 'form_class' -%}
          product__form--add-to-cart{% if section.settings.product_form_width == 'large' %} product__form--full-width{% endif %}
          {%- endcapture -%}
          {% form 'product', product, id:form_id, class:form_class, data-cart-form: '' %}

        </div>
      </section>
    </section>
  </body>
</html>
