body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  background-color: tan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-page-card {
  background-color: aqua;
  display: grid;
  grid-template-rows: 75% 25%;
  padding: 0 25px 0 25px;
}
.product-page-image-section {
  height: 750px;
  width: 600px;
  background-color: red;
}
.product-page-overlay-frame {
	position: absolute;
	width: 600px;
}
.product-page-slideshow {
}

.product-page-text-section {
  background-color: gold;
  display: grid;
  grid-template-columns: 50% 50%;
}
.product-page-description {
  background-color: rgba(0, 0, 255, 0.5);
  padding: 25px;
}
.product-page-cart {
  padding: 25px;
  background-color: pink;
  display: flex;
  flex-direction: column;
}
